.performance {
  background-color: #282d30;
  padding: 1.5rem;
  position: relative;
  border-radius: 8px 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: center;
  order: 3;

  @media only screen and (min-width: 640px) {
    order: 2;
  }
}
