.toggle-switch {
  position: relative;
  float: right;

  &__title {
    display: inline-block;
    margin-right: 0.75rem;
    top: -12px;
    position: relative;
  }

  &__container {
    position: relative;
    width: 64px;
    display: inline-block;
    text-align: left;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + .toggle-switch__label .toggle-switch__label-inner {
    margin-left: 0;
  }

  &__checkbox:checked + .toggle-switch__label .toggle-switch__label-switch {
    right: 0;
  }

  &__label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
  }

  &__label-switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 28px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }

  &__label-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;

    &::before,
    &::after {
      float: left;
      width: 50%;
      height: 36px;
      padding: 0;
      line-height: 36px;
      color: #fff;
      font-weight: bold;
      box-sizing: border-box;
    }

    &::before {
      content: "18";
      padding-left: 10px;
      background-color: #ff0101;
      color: #fff;
    }

    &::after {
      content: "12";
      padding-right: 10px;
      background-color: #282d30;
      color: #fff;
      text-align: right;
    }
  }
}
