.side-bar {
  background-color: #020203;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 120px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  ul {
    list-style-type: none;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -93px;

    li {
      margin-bottom: 1.25rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 6px;
        width: 4rem;
        height: 4rem;
      }
    }
  }

  small {
    position: absolute;
    bottom: 6rem;
    left: -1.25rem;
    transform: rotate(-90deg);
    color: white;
    display: block;
    font-size: 0.85rem;
    line-height: 24px;
  }
}
